/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global */

body {
  font-size: 14px;
  font-family: sans-serif;
  color: white;
  background-color: black;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: white;
  text-decoration: none;
}

i {
  color: white;
}

#navbar i {
  font-size: 1.5rem;
}

/* Classes */

.absolute {
}

.btn {
  padding: 0.3rem;
  border-radius: 5px;
  background-color: #4a4a4a;
}

.mr-5 {
  margin-right: 0.5rem;
}

.container {
  margin: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  height: 80vh;
  overflow-y: scroll;
}

.screen {
  height: 150px;
  width: 220px;
  position: relative;
  background-image: url("https://picsum.photos/seed/picsum/300/200");
}

.screen div {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0.3rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

/* ID */

#view {
  margin: 1rem 1rem 0 0;
  justify-content: flex-end;
}

#screens {
  height: 90vh;
}

#navbar {
  justify-content: space-between;
}
