/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global */

body {
  font-size: 14px;
  font-family: sans-serif;
  color: white;
  background-color: black;
}

a {
  color: white;
  text-decoration: none;
}

/* Global - i */

i {
  color: white;
}

i.small {
  font-size: 0.6rem;
}

i.big {
  font-size: 1.7rem;
}

i.green {
  color: #4bc800;
}

/* Classes */

.screen {
  height: 150px;
  width: 220px;
  position: relative;
  background-image: url("https://picsum.photos/seed/picsum/300/200");
}

.screen div {
  padding: 0.3rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.nav-section {
  gap: 1rem;
}

.nav-element {
  flex-direction: column;
  gap: 5px;
}

/* Classes Flex */

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

/* Classes Buttons */

.btn {
  padding: 0.3rem;
  border-radius: 5px;
  background-color: #4a4a4a;
}

.end-container {
  padding: 2rem 1rem;
  border-radius: unset;
}

.end-container a {
  color: red;
}

/* ID */

#view {
  margin: 1rem 1rem 0 0;
  justify-content: flex-end;
}

#view a:first-child {
  margin-right: 0.5rem;
}

#screens {
  margin: 3rem 1rem;
  height: 77vh;
  flex-wrap: wrap;
  gap: 1rem;
  overflow-y: auto;
}

#navbar {
  justify-content: space-between;
  margin-left: 2rem;
  min-width: 960px;
}
